<%= labelled_fields_for :issue, @issue do |f| %>

  <% if @issue.safe_attribute? 'subject' %>
    <p>
      <%= f.text_field :subject,
                       :size => 80,
                       :maxlength => 255,
                       :required => true %>
    </p>
  <% end %>

  <% if @issue.safe_attribute? 'assigned_to_id' %>
    <p>
      <%= text_field_tag :assigned_to_id_ac,
                         :required => @issue.required_attribute?('assigned_to_id'),
                         :size => 80 %>
      <%= f.hidden_field :assigned_to_id,
                         :value => @issue.assigned_to %>
    </p>
  <% end %>

  <% if @issue.safe_attribute? 'description' %>
    <p>
      <%= f.text_area :description,
                      :cols => 60,
                      :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
                      :accesskey => accesskey(:edit) %>
    </p>
  <% end %>

<% end %>
